* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #071c33;
}

.content {
    height: 88vh;
    width: 80%;
    background-color: #071c33;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: -10px -10px 90px 30px rgba(255, 255, 0, 0.752);
    border-radius: 20px;
    border: 3px dashed white;

    transition: 1s;
}

:hover.content {
    background-color: black;
}

.prof img {
    height: 520px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 76%;
    top: 51%;


}

.port {
    color: white;
    font-family: montserrat;
    font-weight: bold;
    font-size: 20px;
    margin: 50px;

    animation: demo 1s ease forwards;
    opacity: 0;
}

@keyframes demo {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.navbar {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70px;
    left: 70%;
}

.navbar a {
    color: white;
    font-family: montserrat;
    margin: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    display: inline-block;

    animation: demotwo 1s ease forwards;
    opacity: 0;
    animation-delay: calc(.2s * var(--i));

}

.navbar a:hover,
.navbar a.active {
    color: yellow;
    text-decoration: underline;
}

@keyframes demotwo {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.form {
    color: white;
    font-family: montserrat;
    margin: 50px;

}

.social a {
    color: yellow;
    text-decoration: none;
    font-size: 20px;
    border: 3px solid yellow;
    margin-left: 15px;
    padding: 7px 10px;
    border-radius: 50%;

    animation: demotwo 1s ease forwards;
    opacity: 0;
    animation-delay: calc(.2s * var(--i));

    transition: 0.7s;


}

.social a:hover {
    background-color: yellow;
    color: black;
    box-shadow: 0 0 20px yellow;
}

h2 {
    animation: slidebottom 1s ease forwards;
    opacity: 0;
}

@keyframes slidebottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.two {
    animation: demothree 1s ease forwards;
    opacity: 0;
    animation-delay: calc(.2s * var(--i));

}

@keyframes demothree {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

h1 {
    animation: demo 1s ease forwards;
    opacity: 0;
}

h5 {
    animation: slideleft 1s ease forwards;
    opacity: 0;
}

@keyframes slideleft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


/*mobile media query*/
@media (min-width:320px) { 

    .content
    {
        height:auto;
        width: 90%;
        overflow: hidden;
        overflow-y: scroll;
    }
    .port
    {
        display: flex;
        justify-content: center;
        position: relative;
        top: 0px;
        font-size: 28px;
        margin: 0%;
    }
    .navbar
    {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 100px;
        left: 50%;
    }
    .navbar a
    {
       
        text-align: center;
        margin: 10px 0px;
    }
    .prof
    {
        height: 200px;
        width: 200px;
        margin: auto;
        position: relative;
        top: 450px;
        display: flex;
    }
    .prof img
    {
        height: 300px;
        position: relative;
        left: 50%;
    }
    .form
    {
        height: 500px;
        width: 92%;
        position: relative;
        top: 300px;
        margin: auto;

    }
    h2
    {
        font-size: 20px;
    }
    .two
    {
        font-size: 20px;
    }
    .social
    {
        height: 90px;
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


/*laptop*/
@media (min-width:769px)
{
    .content {
        height: 88vh;
        width: 80%;
        background-color: #071c33;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        box-shadow: -10px -10px 90px 30px rgba(255, 255, 0, 0.752);
        border-radius: 20px;
        border: 3px dashed white;
        overflow: hidden;
        overflow-y:none;

        transition: 1s;
    }   
    .prof img {
        height: 550px;
        border-radius: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 250%;
        top: -30%;
    
    
    }
    
    .port {
        color: white;
        font-family: montserrat;
        font-weight: bold;
        font-size: 25px;
        margin: 50px;
        position: relative;
        top: -25%;
        left:-40%;
    
        animation: demo 1s ease forwards;
        opacity: 0;
    }
    .navbar
    {
        display: flex;
        flex-direction: row;
        position: relative;
        top: -34%;
        left: 80%;
    }
    .navbar a 
    {
        font-size: 20px;
        margin: 15px;
    }

    .form {
        color: white;
        font-family: montserrat;
        margin: 50px;
        position: relative;
        top:-30%;
        left: 5%;        
    }
    h2 
    {
        font-size: 30px
    }
    .two
    {
        font-size: 25px;
    }
    h5 
    {
        font-size: 17px;
    }
    .social
    {
        position: relative;
        left: -35%;
    }
    .social a {
        color: yellow;
        text-decoration: none;
        font-size: 30px;
        border: 3px solid yellow;
        padding: 7px 10px;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 55px;
        
    }
}

